<%# <h1>Landing#index</h1>
<p>
  There should be something : 
  <b>#{@cats.first.name}</b>
</p> %>
<div id="lucky">
  <v-app>
    <v-toolbar color="teal" dark dense app>
      <v-spacer></v-spacer>
      <v-toolbar-title>GaoTrang</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <main>
      <v-content>
        <v-container style='height: 100%'>
          <v-layout column style='height: 100%'>
            <v-spacer></v-spacer>
            <v-flex>
              <lucky-card :content="content"></lucky-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </main>
    <v-footer color="teal" dark app></v-footer>
  </v-app>
</div>

